/*-- scss:rules --*/

/* Stile per gli esempi */
div[id^="exm-"] {
    border-left: 4px solid #007acc; /* Colore della linea verticale */
    padding-left: 12px; /* Spazio tra linea e testo */
    margin: 10px 0; /* Margine superiore e inferiore */
    background-color: #f9f9f9; /* Sfondo leggermente grigio */
}

// body {
//   font-family: "Palatino", "EB Garamond", "Georgia", serif;
// }

// Use Fira Code for monospaced text with higher specificity
pre code {
    font-family: 'Fira Code', monospace !important;
  }
  
  // Optional: Enable ligatures for Fira Code
  pre code {
    font-feature-settings: "calt" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1, "ss06" 1 !important;
  }
  
  // Import Fira Code from a CDN
  @import url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css');
  