/*-- scss:defaults --*/

// Import fonts
@import url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css');
// @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Colors
$primary-color: #637238 !default;
$link-color: #688773 !default;
$hover-color: lighten($link-color, 20%) !default;
$sidebar-hover-color: darken($link-color, 20%) !default;
$code-color: #373a3c !default;
$exercise-border-color: #007acc !default;
$exercise-bg-color: #f8f9fa !default;
$exercise-text-color: #333333 !default;
$shadow-color: rgba(0, 0, 0, 0.15) !default;

// Typography
// $font-family: "Palatino nova W1G", Georgia, serif !default;
$font-family: "Atkinson Hyperlegible", sans-serif !default;
$font-size-root: 18px !default;
$code-font-family: 'Fira Code', monospace !default;

/*-- scss:rules --*/

// Global Styles
body {
  font-family: $font-family;
  font-size: $font-size-root;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
}

// Sidebar Styles
.sidebar-title {
  color: $primary-color;
}

.sidebar a {
  border-bottom: 1px solid transparent;

  &:hover {
    color: $sidebar-hover-color;
    border-bottom: 1px solid $sidebar-hover-color;
  }
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul > li > a.active,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active {
  font-weight: bold;
}

// Headings
#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  margin-top: 1.5em;
  font-size: 1.1rem;
}

h5 {
  margin-top: 1.5em;
  font-size: 1rem;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

// Code Blocks
code {
  color: $code-color;
  font-family: $code-font-family !important;
  font-feature-settings: "calt" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1, "ss06" 1 !important;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

pre {
  background-image: linear-gradient(160deg, #f8f8f8 0, #f1f1f1 100%);
}

pre code {
  font-family: $code-font-family !important;
  font-feature-settings: "calt" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1, "ss06" 1 !important;
}

// Exercise Blocks
div[id^="exm-"] {
  border-left: 4px solid $exercise-border-color;
  padding: 1em;
  margin: 1.5em 0;
  background-color: $exercise-bg-color;
  color: $exercise-text-color;
  border-radius: 0 4px 4px 0;
}

// Images
img.quarto-cover-image {
  box-shadow: 0 0.5rem 1rem $shadow-color;
}
