/* css styles */
* {
  font-size: 100%;
  font-family: Helvetica, sans-serif; /* General font for everything */
}

code, pre {
  font-family: 'Fira Code', monospace; /* Fira Code for code blocks */
}

.jumbotron{
  background: whitesmoke;
}

.center{
  text-align: center;
}

*{
 font-size: 100%;
 font-family: Helvetica;
}

a {
  color:#e56646;
}

/*changing toc styling*/

.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: #e56646 !important;
    background-color: whitesmoke;
    font-weight: bold;
}
